
$total-columns: 12;
$gutter: 14rem;
$half-gutter: calc(#{$gutter} / 2);
$main-frame-padding: 12rem;

:root {
    --gutter: $gutter;
    --half-gutter: $half-gutter;
    --main-frame-padding: $main-frame-padding;
}